body{
   margin: 0;
   padding: 0;
   background-image: url('https://i.pinimg.com/originals/7f/7f/28/7f7f2882899755a705a2953b6fcfc263.gif');
   background-size: cover;
}
.design{
   border: 2px solid green;
   background-color: black;
   width: 700px;
   height: 250px;
   margin: 100px auto;
   font-size: 100px;
   text-align: center;
   padding-top: 50px;
   box-sizing: border-box;
   margin-top: 250px;

}
.lol{
   color: aqua;
   text-decoration: none;
}
@media(max-width: 576px)
{
   
}